*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    height: 100%;
    overflow-x: hidden;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
h3{
    font-size: 32px;

}
p{
    color: #707070;
}
.hero-image{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image:linear-gradient(rgba(24, 19, 26, 0.5), rgba(15, 14, 16, 0.5)), url(images/hero-bg.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero-description{
    color: #fff;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
}
.hero-text{
    font-size: 20px;
    margin-bottom: 30px;
    
}
.hero-btn{
    padding: 15px 35px;
    background-color: #fc5239;
    border: none;
    font-size: 20px;
    color: #fff;
    margin: 30px 0;
}
/*End Hero Section Style */
#donate-container{
    margin: 150px 0;

}
.donate-description{
    text-align: center;
}
.donate-box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px 0;
    color: #707070;
}
.flex-box{
    flex: 1 1 auto;
}
.box3 {
    width: 20px;
    height: 70px;
    border: 1px solid #fc5239;
    border-radius: 10px;
    padding: 10px;
    background-color: #e5e5e5;
    color: #fc5239;
}

.donate-amount{
    text-align: center;
}
.donate-input input {
    width: 50%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 24px;
}
input:focus,
select:focus {
    outline: none;
}
/*End Donate Today Style*/
.donate-plan{
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.item{
    width: 450px;
    height: 350px;
    box-shadow: 2px 3px 10px #888888;
    margin: 50px;
    padding: 40px;
    border-radius: 10px;

}
.item img{
    width: 15%;
}
.item-title{
    margin: 20px 0;
}
#education{
    background-color: #ff7e6b6e;
    border-left: 5px solid #fe42ad;
    
}
#food{
    background-color: #8a00d729;
    border-left: 5px solid #e52165;
}
#water{
    background-color: #1738ff30;
    border-left: 5px solid #fc5259;
}
/*End Charity Style*/
.gallery-title{
    text-align: center;
}
.gallery-box img{
    width: 600px;
    height: 400px;
}

/*End Gallery Style*/
.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.from{
    margin-bottom: 20px;
}
.from-email {
    padding: 15px 35px;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}
.subscribe button{
    border-radius: 10px;
}
/*End Plan Style */
footer{
    height: 220px;
    background-color: #000;
    text-align: center;
    padding: 30px;
}
.footer-description h3{
    color: #fff;
    margin-bottom: 10px;
}
